* {
    margin: 0;


    /*background-image: url("css/tic-tac-toe.png");*/
}
html{
    background-image: url('tic-tac-toe.png');

}
body{

    background-color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 100px;
    /*background-color: white;*/
    border: 2px solid #81847d;
    text-align: center;
}

h3{
    text-align: center;
}
p{
    background-color: white;

}